

#column1{

    
    background: linear-gradient(112deg, #754af5, #56ffff);    padding: 1.5rem 1rem;

}
.profile i {

    box-shadow: 5px 7px 14px 0px #000000a1;
    text-shadow: 2px 5px 12px black; 
    display: flex;
}
.edit i{

        background-color: #ff8a3d;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        margin-top: -23px;
        margin-left: auto;
        margin-right: 10px;
        box-shadow: 0px 0px 3px 1px #375a70ba;
    }

#column1 button{
    text-shadow:4px 5px 10px #000000b5;
    box-shadow: inset 4px 3px 10px #0000007d;
    padding: 10px 20px;

}
#column1 button:hover{
    box-shadow: 8px 10px 10px 3px #00000070;
    transition: 0.3s;
    transform: scale(1.2);
}
#column2 {

    padding: 1.5rem 1rem;
    background: linear-gradient(31deg, #754af5, #56ffff);

}



    #btn-are div button{
    padding: 10px 20px;
    text-shadow:4px 5px 10px #000000b5;
    box-shadow: inset 4px 3px 10px #0000007d;
    }
    #btn-are div button:hover{
        box-shadow: 8px 10px 10px 3px #00000070;
    transition: 0.3s;
    transform: scale(1.1);
    }

    #column2 input {
       
        padding: 10px 20px;
        box-shadow: 4px 3px 10px #0000007d;
    }
    #table{
        box-shadow: 3px 2px 11px 2px #00000094; 
    }
    td{
        text-shadow: 4px 4px 10px #000000b0;
    }

    

    @media (min-width: 768px) {
      
        #btn-are div button{
             padding: 7px 10px;border-radius: 20px;font-size: small;
        } 
        
        
   
        
    }
    @media (min-width: 1024px) {


        #btn-are div button{
        font-size: medium;
        }
        
       
        
    }
    @media (min-width: 1280px) {
        #btn-are div button{
            padding: 10px 20px;
        }
    }


    